body {
    background-image: linear-gradient(to bottom, white, rgb(200, 200, 200), white);
    margin: 0;
}



.navbar {
    background-color: #2b305f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    font-family: Arial, sans-serif;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    background-color: #a4a8d3;
    color: #2b305f;
    padding: 5px 13px;
    border-radius: 10px;
    font-weight: bold;
}

.login-btn {
    background-color: #6378c2;
    padding: 5px 13px;
    border-radius: 10px;
    font-weight: bold;
}

section {
    margin: 25px;
}

.data-box {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.data-box h2 {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
}



footer {
    background-color: #2f3563;
    padding: 20px;
    color: white;
}

.footer-container {
    margin-left: 80%;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons img {
    height: 32px;
    width: 32px;
}
.footer-links a{
    display: flex;
    gap: 20px;
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    color: white;
}