* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #4c4d8e, #ffffff);
    color: #23335a;
}

.navbar {
    background-color: #23335a;
    color: #90ee90;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #90ee90; 
}

.logo .highlight {
    color: #dda0dd; 
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: rgba(106, 124, 184, 0.644);
}

.login-btn {
    background-color: #5e78c0;
    padding: 6px 12px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: rgba(117, 138, 207, 0.644);
}

main {
    padding: 20px;
}

.bmi-section h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.bmi-table table {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bmi-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.bmi-input {
    background-color: #23335a;
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bmi-input input {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.bmi-input button {
    background-color: #5e78c0;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bmi-input button:hover {
    background-color: rgba(117, 138, 207, 0.644);
}

.bmi-result {
    background-color: #23335a;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.bmi-table,
.bmi-input,
.bmi-result {
    margin-left: 10px;
    margin-right: 10px;
}

.bmi-chart img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    nav ul {
        justify-content: center;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }
}

footer {
    background-color: #23335a;
    color: white;
    text-align: center;
    padding: 20px;
}

.social-icons a img {
    width: 24px;
    margin: 0 5px;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}