
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #4c4d8e, #ffffff);
  color: #23335a;
}

.bar {
  background-color: #23335a;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #90ee90;
}
.logo sec {
  color: #dda0dd;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 8px;
  transition: background-color 0.3s;
}
.nav-links a:hover {
  background-color: rgba(106, 124, 184, 0.644);
}

.regCoach-btn, .regAdmin-btn {
    background-color: #999fd8;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}

div h1 {
padding-top: 45px;
padding-left: 20px;
font-size: 2rem;
margin-bottom: 10px;
}

.login-box {
  width: 100%;
  max-width: 600px;
}

.login-box form table {
  width: 100%;
  background-color: #2f3563;
  padding: 25px;
  border-radius: 12px;
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

form td {
  padding: 10px 5px;
  vertical-align: top;
}

form label {
  display: inline-block;
  width: 120px;
  font-weight: bold;
  color: white;
}

form input[type="text"],
form input[type="password"],
form select {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #e6e6e6;
}

form input[type="checkbox"] {
  margin-top: 5px;
}

form .btn {
  background-color: #5e78c0;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  transition: background-color 0.3s;
}
form .btn:hover {
  background-color: #748ed0;
}

.center {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  font-weight: bold;
}

.center a {
  color: #2b305f;
  text-decoration: underline;
  font-weight: bold;
}
.center a:hover {
  color: #5e78c0;
}

footer {
  background-color: #23335a;
  padding: 20px;
  color: white;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.social-icons img {
  height: 24px;
  width: 24px;
  transition: transform 0.2s ease;
}

.social-icons img:hover {
  transform: scale(1.2);
}

.footer-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
}
.footer-links a:hover {
  color: white;
}
